@import url(../../style/root.css);

.server-dashboard-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.server-dashboard-container .btn-light {
  border: 1px solid #ddd;
}

.server-dashboard-container tbody {
  color: #626262;
}

.admin-table-head {
  user-select: none;
}

.sort-icon {
  display: inline-block;
  top: 0.125em;
  position: relative;
  user-select: none;
  cursor: pointer;
}

tr.noborder > td {
  border: none !important;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.modal.show {
  opacity: 1;
}

.modal.show .modal-dialog {
  opacity: 1;
  -webkit-transform: translate(0, 0%) !important;
  -ms-transform: translate(0, 0%) !important;
  -o-transform: translate(0, 0%) !important;
  transform: translate(0, 0%) !important;
}

.modal-header .btn-close {
  position: absolute;
  top: 17px;
  right: 10px;
  text-decoration: none;
}

.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em;
  color: #000;
  background: transparent
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3E%3Cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3E%3C/svg%3E")
    50%/1em auto no-repeat;
  border: 0em;
  border-radius: 0.25rem;
  opacity: 0.5;
}

.server-dashboard-row-list-item {
  display: inline-block;
  padding: 0 5px;
  margin: 2px;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.table > tbody > tr.user-row > td {
  vertical-align: inherit;
}

.user-row .actions button {
  margin: 4px;
}

.admin-header-buttons {
  /* float header action buttons to the right */
  text-align: right;
}

/* column widths for dashboard

goals:

- want stable width for running-status
  so clicking the running filter doesn't cause a jump
- shrink fixed-content columns (action, admin)
- allow variable content columns (username, server name)
  to claim remaining space

*/

.admin-table-head #user-header {
}
.admin-table-head #admin-header {
  width: 64px;
}
.admin-table-head #last-activity-header {
  min-width: 180px;
}
.admin-table-head #actions-header {
  width: 410px;
}

/* vertical stack server buttons on small windows */
@media (max-width: 991px) {
  .admin-table-head #actions-header {
    width: 140px;
  }
  .user-row .actions button {
    /* full-width buttons when they get collapsed into a single column */
    margin: 4px 0px 4px 0px;
    width: 100%;
  }
}
