@import url(../../style/root.css);

.server-dashboard-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.server-dashboard-container .add-users-button {
  border: 1px solid #ddd;
}

.server-dashboard-container tbody {
  color: #626262;
}

.admin-table-head {
  user-select: none;
}

.sort-icon {
  display: inline-block;
  top: 0.125em;
  position: relative;
  user-select: none;
  cursor: pointer;
}

tr.noborder > td {
  border: none !important;
}

.modal-backdrop.show {
    opacity: .5;
}

.modal.show {
  opacity: 1;
}

.modal.show .modal-dialog{
  opacity: 1;
  -webkit-transform: translate(0,0%) !important;
  -ms-transform: translate(0,0%) !important;
  -o-transform: translate(0,0%) !important;
  transform: translate(0,0%) !important;
}
